:root {
  --white: #fff;
  --black: #000;
  --gray: #ededed;
  --lightblue: #00AEEF;
  --darkyellow: #F9C706;
  --pink: #EC0C8C;
  --semi-transparent-black: rgba(0, 0, 0, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Poppins;
}

h1 {
  font-weight: 800;
  font-size: 5em;
}

h2 {
  font-size: 4em;
  font-weight: 800;
  text-align: center;
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
}

p {
  font-weight: 500;
}

img {
  object-fit: contain;
}

/* For centering container/div */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em; 
}

section a {
  color: var(--lightblue);
  text-decoration: none;
}

/* To be continue */
section a:hover {
  text-decoration: underline;
  
}
