/*Header Image*/
.index-header-solo {
  display: none;
}

header {
  position: relative;
  width: 100%;
  height: 548px; /* Set the height to match the content */
  overflow: hidden;
}

/* For black background rectangle */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-transparent-black); /* Semi-transparent black */
  z-index: 1; /* Behind the text and image */
}

/* Text styles */
.header-text, .sub-header-text {
  position: absolute;
  color: var(--white);
  z-index: 2; 
}

.header-text {
  top: 90px;
}

.header-solo {
  top: 180px;
}

.tab-space {
  margin-left: 0.5em;
}

.sub-header-text {
  font-size: 3em;
  top: 350px;
}

/* Header image styling */
#header-img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0; /* Main image is behind everything */
}

@media screen and (max-width: 985px) {
  header {
    height: 480px;
  }
  .header-text {
    font-size: 4em;
  }

  .sub-header-text {
    font-size: 2.7em;
    top: 320px;
  }
}

@media screen and (max-width: 770px) {
  .header-text {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 690px) {
  .header-text {
    font-size: 3em;
  }

  .sub-header-text {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 750px) {
  .index-header .header-text {
    top: 190px;
  }
}